.banner_fold {
    width: 100%;
    height: 100%;
    background: url(../../assets/images/bookbg.png) no-repeat;
    background-size: cover;
    padding: 60px 0 50px;
}
.unfold_Elements {
    max-width: 570px;
    width: 100%;
}
.img_bookLayer {
    margin-bottom: -65px;
    img {
        transform: scale(1.2);
    }
}
.user_foundImg {
    img {
        border-radius: 10px;
    }
}
.reviewpadd {
    margin: 41px 0 0;
}
.LookTitle {
    width: 50%;

    h3 {
        margin: 0;
        font-size: 30px;
        font-weight: 600;
        color: #fff;
    }
}
.LookupBtn {
    width: 50%;
    display: flex;
    justify-content: center;
    .buy_nowBtnItem {
        z-index: 1;
    }

    &::after {
        position: absolute;
        content: "";
        background: #e9ecef;
        width: 40%;
        height: 100%;
        z-index: 0;
        top: 0;
        right: 0;
        box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.16);
    }
}
.buy_looksection {
    margin: 20px 0 0;
    padding: 50px 0;
    overflow: hidden;
    position: relative;
    background: rgb(119, 193, 196);
}
.error_fpage {
    max-width: 700px;
    margin: 0 auto;
}

// .read_bookOuter {
//     max-width: 990px;
//     width: 100%;
//     position: absolute;
//     bottom: -20px;
//     z-index: 1;
// }

@media screen and (max-width: 767px) {
    .layer_buyItems {
        flex-direction: column;
        gap: 50px;
    }
    .LookTitle,.LookupBtn {
        width: 100%;
    }
    .LookupBtn::after {
        width: 100%;
        height: 50%;
        z-index: 0;
        top: auto;
        bottom: 0;
        right: 0;
    }
    

    .LookTitle h3 {
        margin: 0;
        font-size: 30px;
        font-weight: 600;
        color: #fff;
        text-align: center;
    }
    .reviewpadd {
        margin: 0 0 0;
    }
    .unfold_Elements_outer {
        flex-direction: column;
    }
    .banner_fold {
        padding: 20px 0 50px;
    }
    .img_bookLayer img {
        transform: scale(1);
    }
    .ban_text strong {
        font-size: 42px;
        line-height: 50px;
        max-width: 250px;
        display: block;
    }
}
