.wraper_calender
{
    span.rbc-btn-group button {
        font-size: 12px;
    }
    .rbc-toolbar .rbc-toolbar-label {
        font-weight: 700;
        font-size: 13px;
        padding: 0;
    }
    .rbc-toolbar {
        flex-direction: row-reverse;
        margin-bottom: 20px;
    
    }
    .rbc-today {
        background: linear-gradient(117deg, rgb(119, 193, 196) 0%, rgb(246, 146, 30) 100%);
    }
}
