.Home_slider {
    .slider-items {
        position: relative;

        a {
            width: 100%;
        }
    }

    .slider-items {
        position: relative;
    }

    .swiper-pagination {
        display: none;
    }

    .swiper-button-prev,
    .swiper-button-next {
        color: #fff;
    }
}

@media screen and (max-width:767px) {
    .swiper-button-prev:after,.swiper-button-next:after{ 
        font-size: 20px !important;
    }
}