.author {
    max-width: 470px;
    width: 100%;
}

.story_bg {
    background: url(../../assets/images/UNIVERSAL-TRUTH-BACKGROUND.jpg) no-repeat;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
}

.about_image__outer {
    overflow: hidden;
    border-radius: 30px 5px 30px 5px;
    max-width: max-content;

    img {
        transition: all 0.3s ease-in;

        &:hover {
            transform: scale(1.1);
            transition: all 0.3s ease-in;
        }
    }
}

.rightform_elements {
    .col-md-12 {
        margin-bottom: 20px;
    }
}

.submit_btn {
    color: rgb(255, 255, 255);
    font-size: 22px;
    border-radius: 33px;
    background: rgb(119, 193, 196);
    background: linear-gradient(117deg, rgba(119, 193, 196, 1) 0%, rgba(246, 146, 30, 1) 100%);
    padding: 8px 40px 8px 30px;
    width: 100%;
    max-width: max-content;
    min-width: 200px;
    border: none;
    position: relative;

    &:hover {
        background: linear-gradient(270deg, rgba(246, 146, 30, 1) 0%, rgba(119, 193, 196, 1) 100%);
        color: #ffffff;
        position: relative;
    }

    &::before {
        position: absolute;
        transition: all 0.3s cubic-bezier(0, 0, 0.1, 1);
        content: "";
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.1);
    }

    &:hover:before {
        width: 100%;
    }


    &::after {
        content: '\f054';
        font-size: 20px;
        right: 20px;
        transform: translateY(-50%);
        top: 50%;
        position: absolute;
        font-family: 'FontAwesome';
        transition: all .3s;
    }

    &:hover::after {
        right: 25px;
        transition: all .3s;
    }
}

.section_Foundation {
    blockquote {
        font-weight: 700;
        position: relative;
        margin: 0;
        padding: 0 0 25px;
        font-style: italic;
    }

    blockquote:before,
    blockquote:after {
        position: absolute;
        color: #298b8e;
        font-size: 50px;
        width: 1rem;
        height: 1rem;
    }

    blockquote:before {
        content: "“";
        left: -33px;
        top: 16px px;
    }

    blockquote:after {
        content: "”";
        right: 3px;
        bottom: 15px;

    }
}

.bottom_titleLIne {
    margin: 10px 0 0;
}

.section_msgDrop {
    .form-control {
        min-height: 50px;
    }
}

.icon_fields {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;

    svg {
        font-size: 22px;
        color: #77c1c4;
    }

}

.form-group {
    position: relative;
}
.section_ourvision{
    padding: 100px 0 0;
    
h1.white{
    font-family: 'Montserrat', sans-serif;
    margin:30px 20px 50px;
    color:#fff;
    text-transform:uppercase;
  }
  .serviceBox{
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      padding-top: 10px;
  }
  
  .serviceBox .service-icon{
      color: #fff;
      background: #fff;
      font-size: 45px;
      line-height: 100px;
      width: 100px;
      height: 100px;
      margin: 0 auto 30px;
      border-radius: 50%;
      box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);
      position: relative;
      z-index: 1;
  }
  
  .serviceBox .service-icon:before,
  .serviceBox .service-icon:after{
      content: "";
      background: linear-gradient(to right, #F09119 50%, transparent 50%);
      border-radius: 50%;
      position: absolute;
      top: -10px;
      left: -10px;
      right: -10px;
      bottom: -10px;
      z-index: -1;
    transition: all ease 0.8s;
  }
  .serviceBox:hover .service-icon:before, .serviceBox:hover .service-icon:after {
      transform: rotateZ(180deg);
  }
  .serviceBox:hover .service-icon {
      box-shadow: -5px 1px 5px rgba(0, 0, 0, 0.2);
  }
  
  .serviceBox .service-icon:after{
      background: #F09119;
      box-shadow: 0 7px 15px rgba(0, 0, 0, 0.3);
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
  }
  .serviceBox {
      border: 1px solid #e5e4e4;
      padding: 40px;
      border-radius: 10px;
      background: #f9f9f9;
      position: relative;
      z-index: 1;
      min-height: 320px;
  }
  
  
  .serviceBox .title{
      color: #F1921A;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      margin: 0 0 10px;
      background: unset;
  }
  
  .serviceBox .description{
      color: #777;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 0.5px;
      margin: 0;
  }
  
  .serviceBox.red .service-icon:before{ background: linear-gradient(to right, #f6921e 50%, transparent 50%); }
  .serviceBox.red .service-icon:after{ background: #f6921e; }
  .serviceBox.red .title{ color: #f6921e; }
  
  .serviceBox.blue .service-icon:before{ background: linear-gradient(to right, #77C1C4 50%, transparent 50%); }
  .serviceBox.blue .service-icon:after{ background: #77C1C4; }
  .serviceBox.blue .title{ color: #77C1C4; }
  
  .serviceBox.green .service-icon:before{ background: linear-gradient(to right, #A1C52D 50%, transparent 50%); }
  .serviceBox.green .service-icon:after{ background: #A1C52D; }
  .serviceBox.green .title{ color: #A1C52D; }
  
  @media only screen and (max-width:990px){
      .serviceBox{ margin: 0 0 30px; }
  }
}

@media screen and (max-width: 767px) {
    .about_image__outer {

        border-radius: 20px;


    }

    .hd {
        font-size: 30px;
    }

    .hd1 {
        font-size: 21px;
        margin-top: -35px;
    }

    #universal {
        font-size: 21px;
        margin-top: -35px;
    }

    .dropmsg {
        padding-top: 0;
    }

    .rightform {
        padding-top: 30px;
    }

    .submit_btn {
        max-width: 100%;
    }

    .whatsbook {
        padding: 15px 0px 0px 0px;
    }

    .reviewpadd {
        padding-top: 20px;
    }

    .story1 {
        padding: 15px 0px 20px 0px;
    }

    .logo_items img {
        max-width: 140px;
    }

    .sticky .logo_items img {
        max-width: 140px;
    }

    .author {
        max-width: 100%;
        margin: 0;
        text-align: start;
    }

    .section_Foundation blockquote {
        padding: 25px 20px 25px;
        text-align: center;
    }

    .section_Foundation blockquote:before {
        content: "“";
        left: 0;
    }

    .section_Foundation blockquote:after {
        right: 42px;
        bottom: 18px;
    }
}