.logo_items {
    img {
        max-width: 200px;
        width: 100%;
        transition: all 0.3s;
    }
}
.NavBlockIcon {
    img {
        max-width: 160px;
        width: 100%;
        transition: all 0.3s;
        height: 45px;
        object-fit: contain;
    }
}
.NavItem_elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.header_Elements {
    background-color: #ffffff;
    transition: all 0.3s;
    box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.16);
    z-index: 999;
    position: relative;
}

.sticky {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
    transition: all 0.3s;
    z-index: 999;

    .logo_items img {
        max-width: 170px;
        width: 100%;
    }
    .NavBlockIcon img {
        max-width: 130px;
        width: 100%;
    }
}
.parascrolled {
    .hd1111 {
        color: #0000006b;
    }
}
.mobile_elmenets {
    display: none;
}

.hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 20px;
    right: 15px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hamburger-lines .line {
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background: #77c1c4;
}

.hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
}

.hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
    width: 65%;
}

.hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
}
.hamburger-linesOuter {
    display: none;
}
.donateIink {
    align-items: flex-end;
    gap: 15px;
}
.donateIcon {
    img {
        height: 36px;
    }
}
.stroke{
    .active{
        font-weight: 600;
        &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 100%;
            content: ".";
            color: transparent;
            background: #78c2c3;
            height: 2px;
        }
    }
}

.Value_targetHidden{
    display: none !important;
}
.stroke .active{
    .Value_targetHidden{
        display: block !important;
    } 
}
@media screen and (max-width: 1199px) {
    .donateIink {
        align-items: flex-end;
        gap: 10px;
        max-width: 200px;
    }
    nav ul li a {
        padding: 1px;
    }

}

@media screen and (max-width: 991px) {
    nav ul li a {
        padding: 10px;
    }
    .NavBarItem {
        transform: translateY(-500%);
        transition: all 0.3s;
        position: absolute;
        background: #fff;
        width: 100%;
        height: auto;
        top: 55px;
        left: 0;
        right: 0;
        z-index: 2;
    }
    .hamburger-linesOuter {
        display: block;
    }
    .mobile_elmenets {
        display: block;
        background: #fff;
        justify-content: center;
        display: flex;
        padding-bottom: 30px;
        margin-top: -1px;
        box-shadow: 0px 20px 14px 0px rgba(0, 0, 0, 0.16);
    }

    .right_toggle_menu.right_toggle_menu_release {
        .NavBarItem {
            transform: translateY(0%);
        }
        .hamburger-lines {
            height: 26px;
        }
        .menu-items {
            transform: translateY(0);
        }

        .hamburger-lines .line1 {
            transform: rotate(45deg);
        }

        .hamburger-lines .line2 {
            transform: scaleY(0);
        }

        .hamburger-lines .line3 {
            transform: rotate(-45deg);
        }
    }
    .desktopBlock {
        display: none !important;
    }
    // .NavItem_elements{
    //     position: relative;
    // }
    .hamburger-lines {
        top: 50%;
        transform: translateY(-50%);
    }
    .NavItem_elements {
        nav ul {
            display: flex;
            flex-direction: column;
        }
        .stroke {
            padding: 10px;
            background-color: #fff;
        }
        nav ul li {
            padding: 0px;
        }
    }
    .donateIink {
        gap: 10px;
    }

}
