.social_iconElements{
    .icon_fab{
     gap: 20px;
     li{
        a{
            font-size: 20px;
            border-radius: 50%;
            background-color: #77C1C4;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--bs-white);
            padding: 10px;
            &:hover{
                color: var(--bs-white);
            }
        }
     }
    }
}